html{
  text-align: center;
  color: white;
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center center;
}

.App-logo {
  height: 80%;
}

.App-title {
  font-size: 1.5em;
    color: #9A3333;
    margin: 0px auto;
    align-content: center;
}

.App-header {
    height: 100%;
    padding: 20px;
}